
data/OpenSky/output/**
data/OpenSky/states_2022-01-17-10.csv
data/OpenSky/states_2022-01-17-10.csv.gz
data/OpenSky/states_2022-01-17-10.csv.tar
data/OpenSky/output/states_2022-01-17-10_droputs.pdf
data/OpenSky/output/states_2022-01-17-10_droputs_v1.pdf